Q1) What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

SQL is a Relational Database Management System where as NoSQL is Non-relational or distributed database system.  
SQL have fixed or static or predefined schema where as NoSQL have dynamic schema.  
SQL databases are not suited for hierarchical data storage where as NoSQL databases are best suited for hierarchical data storage.

Q2) What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language(DDL) is a subset of SQL and a part of DBMS.  

CREATE command is used to create a new table in SQL.  
eg: CREATE TABLE if not exists student_details(roll INT, name VARCHAR, course VARCHAR);

DROP command is used to remove an existing table along with its structure from the Database.  
eg: DROP TABLE student_details;

ALTER command is used to add, delete or change columns in the existing table.  
eg: ALTER TABLE student_details ADD mobile_num number;

TRUNCATE command is used to remove all rows from the table, but the structure of the table still exists.  
eg: TRUNCATE TABLE student_details;

Q3) What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML(Data Manipulation Language) is used to insert, update, delete the data in the database.

INSERT command is used to insert data into a table.  
eg: Insert into student_details(roll, name, course) values (1,"tarun","data science masters");

UPDATE command is used to update existing data within a table.  
eg: UPDATE student_details SET course=web dev WHERE roll=1;

DELETE command is used to delete records from a database table.  
eg: DELETE from student_details WHERE roll=1;

Q4) What is DQL? Explain SELECT with an example.

Data Query Language (DQL) is used to query the data and information contained in schema objects.

SELECT command is used to retrieve data from the database.  
eg: SELECT * from student_details;

Q5) Explain Primary Key and Foreign Key.

A primary key uniquely identifies a record in the relational database table. A primary key is used to ensure data in the specific column is unique.

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

Q6) Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()

Cursors are created by the cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.

execute() method executes the given database operation (query or command).

Q7) Give the order of execution of SQL clauses in an SQL query.

FROM  
WHERE  
GROUP BY  
HAVING  
SELECT  
ORDER BY  
LIMIT